body{
    background-color: antiquewhite;
}
h1{
    color: rgb(17, 192, 17);
}
hr{
    border: 5px black solid;
    border-radius: 10px;
}
#title{
    text-align: center;
    font-size: 100px;
}
.meniu{
    position: relative;
    top: 20px;
    border:greenyellow solid 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.lista{
    display: flex;
    font-size: 100px;
    list-style-type: none;
    justify-content: center;
}
#primul{
    position: relative;
    right: 50px;
}
#alDoilea{
    position: relative;
    left:50px;
}
#fluture{
    width: 1000px;
    height: 700px;
}
#imagine{
    position: relative;
    top: 100px;
    left:890px;
}
.buton{
    position: relative;
}
.sefu{
    position: relative;
    font-size: 25px;
}