body{
    background-color:antiquewhite;
}
#title{
    text-align: center;
    font-size: 80px;
}
#Inceput{
    text-align: justify;
    font-size: 25px;
}
#StrangereMana{
    text-align: justify;
    font-size: 25px;
    position: relative;
    top: 50px;
}
#Tabel1{
    position: relative;
    top:100px
}
table{
    width: 800px;
    height: 250px;
}
table, th, td{
    border: 1px solid;
    font-size: 25px;
}
#imagine{
    position: relative;
    left: 1000px;
    bottom: 500px;
    border-radius: 50%;
}
#andrew{
    position: relative;
    bottom: 400px;
    font-size: 35px;
    border: 5px red solid
}